table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
}

thead {
  background-color: #eee;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

th {
  font-weight: bold;
}
